<header class="header">

    <div class="header-limiter">

        <h1><a href="#">Listen<span>&</span>Remember</a></h1>
        <form method="get" action="event.preventDefault()">
            <input type="search" placeholder="Search!" name="search">
        </form>
        <!--        <div ui-view="searchWords"></div>
                <div ui-view="addWordBtn"></div>
                <div ui-view="player"></div>-->
        <!--        <ul>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Sign up</a></li>
                </ul>-->
    </div>

</header>